{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class='body-container'>
	<div class='form-align'>
		<h2> Delete Item</h2>
		{% with messages = get_flashed_messages() %}
                        {% if messages %}
                                {% for message in messages %}
                                        {{message}}
                                {% endfor %}
                        {% endif %}
                {% endwith %}
	
		<p>Are you sure you want to delete {{item.name}} under category {{category.name}} ? </p>

		<form id='delete' method="POST" action="{{url_for('deleteItem', category_name=category.name, item_name=item.name)}}">
			<button id = 'btnSubmit' type="button" value='submit'> Submit</button>
			<a href='{{url_for('showItem', category_name=category.name, item_name=item.name)}}'>Cancel</a>
		</form>

	</div>
</div>

<script>
	var form=document.getElementById("delete");
	document.getElementById("btnSubmit").addEventListener("click", function () {
  		form.submit();
	});
</script>

{% endblock %}
