{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<script>
	function setTitle() {
		document.title="Log in"
	}

</script>

<div class="body-container">
	<div class="form-align">
		<div id='message'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{{message}}
				{% endfor %}
			{% endif %}
		{% endwith %}
		</div>
	
		<div id="result"> </div>
        	<h2> Login to Site</h2>
		</br>

        	<!-- GOOGLE PLUS SIGN IN BUTTON-->

		<div class="row">
			<div class="col-md-12">
          			<div id="signinButton">
          				<span class="g-signin"
            				data-scope="openid email"
            				data-clientid="804519395006-9ap0d3sunutotdeh266fibqps2i0bm0i.apps.googleusercontent.com"
            				data-redirecturi="postmessage"
            				data-accesstype="offline"
            				data-cookiepolicy="single_host_origin"
           	 			data-callback="googlesignInCallback"
           				data-approvalprompt="force">
          				</span>
        			</div>
			</div>
		</div>

        		<!--Facebook login here
        	
                		<fb:login-button scope="public_profile,email" onlogin="facebookSignInCallback();">
                		<a href='javascript:facebookSignInCallback()'>Facebook Sign in</a>
               	 		</fb:login-button>
        	
			-->
			<div class="row">
				<div class="col-md-12">
        				Or
        			</div>
			</div>
			</br>
		
			<form action= "{{url_for('login')}}"  method='POST', onsubmit="return validateForm(this)">
                		<div class="row">
					<div class="col-md-1">E-mail:</div>
					<div class="col-md-11"><input type='text' name='email' size='30'></div>
				</div>
				</br>
                		<div class="row">
					<div class="col-md-1"> Password: </div>
					<div class="col-md-11"><input type='password' name='pwd' size='30'></div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-1"><input type='submit'  value='Log in'></div>
					<div class="col-md-11"><input type="reset" value="Reset"></div>
				</div>
				</br>
			</form>
	

        		<a href="{{url_for('signup')}}">Don't have an account? Sign up </a>
		</div>
		</div>
	</div>
</div>
<!--facebook SDK-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '109518313067499',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<script>
function googlesignInCallback(authResult) {
	if(authResult['code']) {
		//handle the google sign button now
		$("#signinButton").attr('style', 'display: none')
		$.ajax({
				type: 'POST',
				url: '/gconnect?state={{STATE}}',
				processData: false,
				contentType:'application/octet-stream; charset=utf-8',
				data: authResult['code'],
				success:function(result) {
					if(result) {
						console.log(result);
						$('#result').html('login successful! </br>' + result + '</br>Redirecting');
						setTimeout(function(){window.location.href="/catalog";}, 400);
					} else if(authResult['error']){
						console.log('There was an error:' + authResult['error']);
					}
				}

			});
	}

}
</script>


<script>
function facebookSignInCallback(){
	FB.getLoginStatus(function(response) {
        console.log(response.status)
        if(response.status == "connected") {
                console.log("Logged into fb");
                var tmp = FB.getAuthResponse();
                var access_token = tmp['accessToken'];
                console.log("Welcome!, fetching your information!");
                FB.api('/me', function(response) {
                        console.log('Successful login for: ' + response.name);
                        $.ajax({
                                type: 'POST',
                                url: 'fbconnect?state={{STATE}}',
                                processData: false,
                                data: access_token,
                                contentType: 'application/octet-stream; charset=utf-8',
                                success: function(result) {
                                        console.log("ehcking here");
                                        if(result) {
                                                console.log("ok here!");
                                                $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                                                setTimeout(function(){window.location.href="/catalog";}, 400);
                                        } else {
                                                console.log("not ok here");
                                                $('#result').html('Failed to make a server-side call, check your configuration and console.');
                                        }
                                }
                        });
                });
                
        }else {
		console.log(response.status);
                console.log("Not logged into fb, something is wrong here!");
        }       
        
                
        });

}
</script>


<script>
	function validateForm(form) {
                var emailField = form.email.value;
                var passwordField = form.pwd.value;
                if(emailField.length == 0 || emailField == "") {
                        alert("E-mail cannot be empty");
                        return false;
                }

                if(passwordField.length == 0 || passwordField == "") {
                        alert("password cannot be empty!");
                        return false;
                }
        
                return true;
        }


</script>


            
{% endblock %}
